<div class="container">
  <div class="row mt-5">
    <div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let g of goods; index as i">
      <div class="card " style="width: 18rem">
        <img [src]="g.photo" class="card-img-top cart p-2 " alt="{{ g.name }}" />
        <div class="card-body">
          <h5 class="card-title">{{ g.name |titlecase}}</h5>
          <p class="card-text">{{ g.price|currency }}</p>
          <a href="#" (click)="toCard(i)" *ngIf="add !== i" class="btn btn-primary">Add To Good</a>
        </div>
        <div *ngIf="add===i" class="p-2">
          <input class="form-control mb-2" type="number" #amount placeholder="amount(Kg) $">
          <button (click)="buy(amount.value , i)" class="btn btn-primary">Buy</button>
        </div>
        <button class="btn btn-danger" (click)="delet(i)">delet</button>
      </div>
    </div>
  </div>
</div>
